.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  font-size: xx-large;
  font-weight: bold;
}

.address {
  font-size: small;
  font-weight: bold;
  color: black;
}

.no-btn {
  background: none;
  border: none;
}
